body {
    background: aliceblue;
    margin: 0px;
    font-family: sans-serif;
}

h1 {
    background: cornflowerblue;
    color: white;
    margin: 0px;
    padding: 8px;
    text-align: center;
    font-weight: 300;
}

h2 {
    padding: 5px;
    margin: 0px;
    background: lightslategray;
    color: white;
    text-align: center;
    font-weight: 200;
    font-size: 20px;
}

h3 {
    font-size: 14px;
    margin: 0px;
    padding: 5px;
    text-align: center;
}

footer {
    width: 100%;
    text-align: center;
    color: white;
    background: lightslategray;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
}

th {
    background: cornflowerblue;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid black;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr {
    background-color: white;
}

td.green_td {
    background: green;
}

td.yellow_td {
    background: yellow;
}

td.red_td {
    background: red;
}

.logImg {
    width: 600px;
}

#standardForm {
    text-align: center;
}

#loginBox {
    margin-top:10px;
    text-align: center;
}

#usernameLabel {
    font-size:14px;
}

#logoutForm {
    display: inline-block;
}

#headerLink {
    text-decoration: none;
}